/backend/.env
.venv
__pycache__/
egg-info/
*.egg-info/
*.db
chapter*.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/app/downloads/Matabar/analysis_cache.pkl
backend/app/downloads
backend/app/checkpoints/kokoro-v1.0.onnx
backend/app/data/voices-v1.0.bin
*.wav
*.onnx
*.bin
*.txt
*.mp3
